*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111;
}
.App{
  width: 270px;
  background-color: #222;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  color: whitesmoke;
}
hr{
  border: 1px solid darkgray;
  margin: 10px 0;
}
.question-text{margin: 15px 0 10px 0;}
.options-part{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.option{
  background-color: transparent;
  border: 1px solid rgb(4, 101, 4);
  padding: 8px 0;
  color: whitesmoke;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
}
.option:hover{background-color: rgb(33, 32, 32);}
small{font-size: 15px;}